<div class="ui grid">
    <div class="row">
        <div class="column">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="column four wide">
            <p>Network: <span id="meta_network"></span></p>
            <p>Account: <span id="meta_account"></span></p>
        </div>
        <div class="eleven wide column" id="error">
            <div class="ui error message">
                <div class="header">Error</div>
                <div id="error_msg"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <form class="ui form" id="offer-form" target="/" method="post">
                <div class="field">
                    <label>Insured (Address)</label>
                    <input type="text" name="insured" placeholder="0x1a2b3c...">
                </div>
                <div class="field">
                    <label>Insurance Sum</label>
                    <input type="number" name="insurance-sum" placeholder="10000">
                </div>
                <div class="field">
                    <label>Premium</label>
                    <input type="number" name="premium" placeholder="100">
                </div>
                <button class="ui button" type="submit">Create Offer</button>
                <div class="ui error message"></div>
            </form>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
<script type="application/javascript" language="JavaScript" src="/js/underwriter.js"></script>