<div class="ui grid form_background header-banner">
    <div class="ui hidden" id='successBox' style="margin:auto;">

        <div class="ui raised segment">
            <h1 class="header">Welcome to LifeBlock+ community!</h1>
            <h4>Confirmation transaction:</h4>
            <p id="successMsg"></p>
        </div>
    </div>
    <div class="ui grid " id="completeAccount">
        <div class="two wide column"></div>
        <div class="six wide column">
            <h1 style="color:white;">Calculate your premium</h1>
            <div class="ui raised segment">
                <form id="premiumform" class="ui form error">
                    <div class="field">
                        <label>Wallet ID</label>
                        <div class="ui corner labeled input">
                            <input id="walletid" type="text" readonly>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Please select a policy</label>
                            <select id="policy" class="ui dropdown">
                                <option value="policy_rules.json">Standard</option>
                            </select>
                        </div>
                        <h4 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Insured details
                        </h4>
                        <div class="two fields">
                            <div class="field">
                                <label>First name</label>
                                <input id="firstname" type="text" placeholder="First Name">
                            </div>
                            <div class="field">
                                <label>Last name</label>
                                <input id="lastname" type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <label>E-mail</label>
                        <input type="email" id="email" placeholder="joe@schmoe.com">
                        <h4 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Contract details
                        </h4>
                        <div class="two fields">
                            <div class="field">
                                <label>Are you a smoker?</label>
                                <select id="smoker" class="ui dropdown">
                                    <option value="">Please select</option>
                                    <option value="0">Non smoker</option>
                                    <option value="1">Light smoker</option>
                                    <option value="2">Smoker</option>
                                    <option value="3">Heavy smoker</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>What is your age?</label>
                                <select id='age' class="ui search dropdown">
                                    <option value="">Please select</option>
                                    <option value='18'>18</option>
                                    <option value='19'>19</option>
                                    <option value='20'>20</option>
                                    <option value='21'>21</option>
                                    <option value='22'>22</option>
                                    <option value='23'>23</option>
                                    <option value='24'>24</option>
                                    <option value='25'>25</option>
                                    <option value='26'>26</option>
                                    <option value='27'>27</option>
                                    <option value='28'>28</option>
                                    <option value='29'>29</option>
                                    <option value='30'>30</option>
                                    <option value='31'>31</option>
                                    <option value='32'>32</option>
                                    <option value='33'>33</option>
                                    <option value='34'>34</option>
                                    <option value='35'>35</option>
                                    <option value='36'>36</option>
                                    <option value='37'>37</option>
                                    <option value='38'>38</option>
                                    <option value='39'>39</option>
                                    <option value='40'>40</option>
                                    <option value='41'>41</option>
                                    <option value='42'>42</option>
                                    <option value='43'>43</option>
                                    <option value='44'>44</option>
                                    <option value='45'>45</option>
                                    <option value='46'>46</option>
                                    <option value='47'>47</option>
                                    <option value='48'>48</option>
                                    <option value='49'>49</option>
                                    <option value='50'>50</option>
                                    <option value='51'>51</option>
                                    <option value='52'>52</option>
                                    <option value='53'>53</option>
                                    <option value='54'>54</option>
                                    <option value='55'>55</option>
                                    <option value='56'>56</option>
                                    <option value='57'>57</option>
                                    <option value='58'>58</option>
                                    <option value='59'>59</option>
                                    <option value='60'>60</option>
                                </select>
                            </div>
                        </div>


                        <label>Insured value</label>
                        <div class="ui right labeled input">
                            <div class="ui label">WEI</div>
                            <input id="amount" type="text" placeholder="Amount">
                            <div class="ui basic label">.00</div>
                        </div>
                        <h4 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Beneficiary details
                        </h4>
                        <label>Wallet ID</label>
                        <div class="ui corner labeled input">
                            <input id="beneficiary" type="text" placeholder="Please provide a value.">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="policyPage" class="hidden six wide column">
            <h1 style="color:white;">Offer</h1>

            <div class="ui cards">
                <div style="width:100%;" class="card">
                    <div class="content">
                        <img class="right floated mini ui image" style="width:60px;"
                             src="/assets/images/avatar/tom.jpg">
                        <div class="header">
                            <span id="policyfname"></span> <span id="policyname"></span>
                        </div>
                        <div class="meta">
                            This is a not a binding contractual agreement.
                        </div>
                        <br>
                        <br>
                        <p style="font-weight: bolder;">Please make sure your details are correct.</p>

                        <div class="description">
                            <p>E-mail: <span id="policyemail"></span></p>
                            <p>Smoker: <span id="policysmoker"></span></p>
                            <p>Age: <span id="policyage"></span></p>
                            <p>Insured value: <span id="policyinsuredvalue"></span></p>

                            <h4 class="ui horizontal divider header">
                                <i class="tag icon"></i>
                                Your monthly premium
                            </h4>
                            <p class="premium"><span id="premium">XXX</span> WEI per month</p>
                        </div>
                    </div>
                    <div id="pay_decline_buttons" class="extra content hidden">
                        <div class="ui two buttons">
                            <div id="pay" class="ui basic green button">Pay</div>
                            <div class="ui basic red button">Decline</div>
                        </div>
                    </div>
                    <div id="send_offer_buttons" class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button" id="sendoffer">Send offer</div>
                        </div>
                    </div>
                    <div id="wait_for_event" class="extra content hidden">
                        <div class="ui two buttons">
                            <div class="ui basic grey button" id="">Please wait</div>
                        </div>
                    </div>
                    <div id='errorBox' class="ui error message hidden">
                        <div class="header">Server responded</div>
                        <p id="errorMsg"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" language="JavaScript" src="/js/policy.engine.js"></script>
<script type="application/javascript" language="JavaScript" src="/js/account.js"></script>
