<div class="ui grid form_background header-banner">
    <div class="four wide column"></div>
    <div class="four wide column">
        <h1 style="color:white;">Register your claim


            <div class="ui raised segment">
                <div class="ui link cards" style="width:100%;">
                    <div class="card">
                        <div class="image">
                            <img src="/assets/images/avatar/tom.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Matt Giampietro</div>
                            <div class="meta">
                                <a>Friends</a>
                            </div>
                            <div class="description">
                                Matthew is an interior designer living in New York.
                            </div>
                        </div>
                        <div class="extra content">
                      <span class="right floated">
                        Joined in 2013
                      </span>
                      <span>
                        <i class="user icon"></i>
                        75 Friends
                      </span>
                        </div>
                    </div>
                </div>
                <form id="premiumform" class="ui form error">
                    <div class="field">
                        <label>Wallet ID</label>
                        <div class="ui corner labeled input">
                            <input id="walletid" type="text" readonly>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Please select a policy</label>
                            <select id="policy" class="ui dropdown">
                                <option value="policy_rules.json">Standard</option>
                            </select>
                        </div>
                        <h4 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Insured details
                        </h4>
                        <div class="two fields">
                            <div class="field">
                                <label>First name</label>
                                <input id="firstname" type="text" placeholder="First Name">
                            </div>
                            <div class="field">
                                <label>Last name</label>
                                <input id="lastname" type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <label>E-mail</label>
                        <input type="email" id="email" placeholder="joe@schmoe.com">


                        <label>Insured value</label>
                        <div class="ui right labeled input">
                            <div class="ui label">CHF</div>
                            <input id="amount" type="text" placeholder="Amount">
                            <div class="ui basic label">.00</div>
                        </div>
                        <h4 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Beneficiary details
                        </h4>
                        <label>Wallet ID</label>
                        <div class="ui corner labeled input">
                            <input id="beneficiary" type="text" placeholder="Please provide a value.">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


    </div>
</div>
<script type="application/javascript" language="JavaScript" src="/js/policy.engine.js"></script>
<script type="application/javascript" language="JavaScript" src="/js/account.js"></script>
