<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment header-banner">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu noborder">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Home</a>
                <a class="item">Community</a>
                <a class="item">Help</a>
                <div class="right item">
                    <a href="/claim" class="ui inverted button">Make a claim</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header shadow" id="header">
                {{ title }}<span id="header_logo">&nbsp;</span>
            </h1>
            <h2 class="shadow">Your life, Your community, Your insurance</h2>
            <a href="/account" class="ui huge primary button">Join the community and insure yourself<i class="right arrow icon"></i></a>
        </div>


    </div>

    <div id="start" class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row" id="overview"></div>
            <div class="row"></div>
            <div class="row centered">
                <div class="ui raised segment">
                    <h3 style="text-align:left">Session ticket</h3>

                    <div class="ui segments" style="text-align:left">
                        <div class="ui segment">
                            <p><b>Network Name:</b> <span id="networkName"></span></p>
                        </div>
                        <div class="ui segment">
                            <p><b>Account Number:</b> <span id="accountNo"></span></p>
                        </div>
                        <div class="ui segment">
                            <p><b>Current Ether:</b> <span id="etherAmount"></span></p>
                        </div>
                        <div class="ui segment">
                            <p><b>Current Block:</b> <span id="block"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">P2P Life Insurance</a>
                        <a href="#" class="item">Customer Service</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Just making the world a litte bit more fair</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" language="JavaScript" src="/js/index.js"></script>