<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/3rd-party/semantic.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>

    <link rel="stylesheet" type="text/css" href="/css/3rd-party/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/site.css">

    <link rel="stylesheet" type="text/css" href="/css/3rd-party/container.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/header.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/image.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/menu.css">

    <link rel="stylesheet" type="text/css" href="/css/3rd-party/divider.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/dropdown.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/segment.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/button.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/list.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/transition.css">

</head>
<body>

<!-- Page Contents -->
{{{ body }}}
<script type="application/javascript" language="JavaScript" src="/js/3rd-party/jquery.min.js"></script>
<script type="application/javascript" language="JavaScript" src="/js/3rd-party/semantic.min.js"></script>
<script type="application/javascript" language="JavaScript" src="/js/3rd-party/bignumber.js"></script>
<script type="application/javascript" language="JavaScript" src="/js/3rd-party/web3.js"></script>
 <script src="/js/3rd-party/visibility.js"></script>
    <script src="/js/3rd-party/sidebar.js"></script>
    <script src="/js/3rd-party/transition.js"></script>
    <script>
        $(document)
                .ready(function () {

                    // fix menu when passed
                    $('.masthead')
                            .visibility({
                                once: false,
                                onBottomPassed: function () {
                                    $('.fixed.menu').transition('fade in');
                                },
                                onBottomPassedReverse: function () {
                                    $('.fixed.menu').transition('fade out');
                                }
                            })
                    ;

                    // create sidebar and attach to menu open
                    $('.ui.sidebar')
                            .sidebar('attach events', '.toc.item')
                    ;

                })
        ;
    </script>
</body>
</html>

