body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  margin-top: 2.5em;
  vertical-align: middle;
  line-height: 110px;

  + h2 + a {
    margin-top: 300px;
  }
}

#header_logo {
  margin-left: 10px;
  display: inline-block;
  width: 85px;
  height: 110px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
}

#overview {
  background-image: url("../img/overview.png");
  background-repeat: no-repeat;
  height: 600px;
}

.header-banner {
  background-color: #cccccc;
  background-image: url("../img/header.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 850px;
}

.noborder {
  border: none !important;
}

.shadow {
  text-shadow: 2px 0 7px #444444;

}

.hidden {
  visibility: hidden !important;
  display: none !important;
}

.form_background {
  padding-top: 40px !important;
  height: 110%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5f0ff+48,8cbfe2+100 */
  background: #e5f0ff; /* Old browsers */
  background: -moz-linear-gradient(top, #e5f0ff 48%, #8cbfe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5f0ff 48%, #8cbfe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5f0ff 48%, #8cbfe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f0ff', endColorstr='#8cbfe2', GradientType=0); /* IE6-9 */
}

.premium {
  color: #db2828;
  /* text-shadow: 0px 0 1px #444444; */
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

a {
  color: #00B7FF
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

F§
.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }

  .secondary.pointing.menu .toc.item {
    display: block;
  }

  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
